<?xml version="1.0" encoding="utf-8"?>
<config>
  <!-- 日志相关,在没有盘符":"的情况下是程序运行目录+设置的目录 -->
  <log>
    <!-- 输入记录目录 -->
    <inputLogDir>输入记录</inputLogDir>
    <!-- 输出记录目录 -->
    <outputLogDir>输出记录</outputLogDir>
    <!-- 出错记录目录 -->
    <errorLogDir>出错记录</errorLogDir>
  </log>
  <!-- 数据库连接信息 -->
  <DB>
    <DBType>SQL</DBType>
    <!-- 服务器 -->
    <DBServer>idmmainsvr</DBServer>
    <!-- 数据库名 -->
    <DBName>EAB</DBName>
    <!-- 用户名 -->
    <DBUser>sa</DBUser>
    <!-- 密码 -->
    <DBPasswd>123</DBPasswd>
  </DB>
</config>